.example {
  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .example {
    position: relative;

    background-color: transparent;
  }

  .example::after {
    position: absolute;

    z-index: -1;

    left: 0;
    right: 0;
    bottom: 0;

    content: "";

    height: 462px;

    background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }
}

@media (min-width: @desktop-width) {
  .example::after {
    background-image: linear-gradient(to right, #f2f2f2 70%, #eaeaea 30%);
  }
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: @lightblack;

  margin: 0;
  padding: 20px 0;
}

@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;

    padding: 50px 0;
  }
}

.example__description {
  font-family: @font--arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: @lightblack;

  margin: 0 0 25px 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .example__description {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 50px;
  }
}

@media (min-width: @tablet-width) {
  .example__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.example__table {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;

  width: 100%;
}

@media (min-width: @tablet-width) {
  .example__table {
    margin-bottom: 255px;
  }
}

.example__table tr {
  position: relative;

  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

// .example__table tr:nth-child(2n) {
//   margin: 0 20px 0 0;
// }

.example__value:nth-child(1) {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @lightblack;

  .size(124px; 56px);

  border: @border;
}

@media (min-width: @tablet-width) {
  .example__value:nth-child(1) {
    font-size: 30px;
    line-height: 37px;

    // margin-right: 40px;

    .size(162px; 72px);
  }
}

.example__field {
  font-family: @font--arial;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-align: center;
  color: @grey;

  position: absolute;

  top: 50px;
  left: 35px;

  .size(54px; 19px);

  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .example__field {
    font-size: 14px;
  }
}

.example__price {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @lightblack;

  margin: 0 0 40px 0;
}

@media (min-width: @tablet-width) {
  .example__price {
    font-size: 20px;
    text-align: right;
  }
}

// @media (min-width: @tablet-width) {
//   .example__compare {
//     z-index: 2;
//   }
// }

.example__image {
  position: relative;

  left: -20px;

  margin: 0 0 35px 0;
}

.example__toggle {
  font-family: @font--oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: @lightblack;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .example__toggle {
    font-size: 20px;
  }
}

.example__toggle-line {
  display: flex;
  justify-content: center;
  align-items: baseline;

  padding-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .example__toggle-line {
    align-items: baseline;
  }
}

.example__switch {
  position: relative;

  display: inline-block;
  vertical-align: baseline;

  align-self: center;

  margin: 0 15px;

  .size(84px; 14px);

  background-color: @white;
  border: @border;
  border-radius: 5px;
}

@media (min-width: @tablet-width) {
  .example__switch {
    align-self: center;
    margin: 0 20px;

    .size(428px; 6px);

    background-color: #dcdcdc;
    border: none;
  }
}

.example__switch::after {
  position: absolute;

  content: "";

  top: 4px;
  left: 5px;

  .size(36px; 6px);

  background-color: @green;
  border-radius: 5px;
}

@media (min-width: @tablet-width) {
  .example__switch::after {
    top: 0;
    left: 50%;

    .size(6px; 6px);
  }
}

@media (min-width: @tablet-width) {
  .example__switch::before {
    position: absolute;

    content: "";

    top: -15px;
    left: 200px;

    .size(33px; 33px);

    background-color: @white;
    border: @border;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
}
