.example {
  background-color: @lightgrey;
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: @lightblack;

  margin: 0;
  padding: 20px 0;
}

@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;

    padding: 50px 0;
  }
}

.example__description {
  font-family: @font--arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: @lightblack;

  margin: 0 0 25px 0;
  padding: 0 10px 0 0;
}

@media (min-width: @tablet-width) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @tablet-width) {
  .example__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.example__table {
  margin: 0 0 30px 0;
}

.example__table tr {
  position: relative;

  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.example__table tr:nth-child(2n) {
  margin: 0 20px 0 0;
}

.example__value:nth-child(1) {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @lightblack;

  .size(124px; 56px);

  border: @border;
}

@media (min-width: @tablet-width) {
  .example__value:nth-child(1) {
    font-size: 30px;
    line-height: 37px;

    margin-right: 40px;

    .size(162px; 72px);
  }
}

.example__field {
  font-family: @font--arial;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-align: center;
  color: @grey;

  position: absolute;

  top: 50px;
  left: 35px;

  .size(54px; 19px);

  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .example__field {
    font-size: 14px;
  }
}

.example__price {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @lightblack;

  margin: 0 0 40px 0;
}

@media (min-width: @tablet-width) {
  .example__price {
    font-size: 20px;
    text-align: right;
  }
}

.example__image {
  position: relative;

  left: -20px;

  margin: 0 0 35px 0;
}

.example__toggle {
  font-family: @font--oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: @lightblack;

  margin: 0 0 35px 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}
