// Блок с адресом организации
.address {
  margin: 0 auto;

  width: 100%;

  background-color: @lightgrey;
}

.address .address__layout-container {
  position: relative;

  z-index: 1;

  background-color: @lightgrey;
}

// Стилизация блока с приглашением к сотрудничеству и адресом
.address__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 28px 0 26px 0;

  background-color: @white;
}

.address__container--catalog {
  background-color: @lightgrey;

  padding: 28px 0 26px 0;
}

.address__container--form {
  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .address__container {
    padding: 64px 40px 55px 40px;

    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .address__container {
    position: absolute;

    bottom: -100px;

    transform: translateY(97%);

    padding: 65px 90px 60px 75px;

    max-width: 405px;
  }

  .address__container--catalog,
  .address__container--form {
    background-color: @white;
  }
}

// Адрес на главной странице
.address--index {
  background-color: @white;
}

.address--index .address__layout-container {
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .address--index .address__layout-container {
    width: 0 auto;
    padding: 0;
  }
}

// Приглашение к сотрудничеству
.address__invitation {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: @lightblack;
}

@media (min-width: @tablet-width) {
  .address__invitation {
    font-size: 20px;
    line-height: 25px;

    width: 100%;
    max-width: 160px;
  }
}

@media (min-width: @desktop-width) {
  .address__invitation {
    line-height: 25px;
  }
}

// Только адрес
.address__address {
  font-family: @font--arial;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  color: @grey;

  position: relative;
  right: 2px;

  margin: 0 0 0 20px;
}

@media (min-width: @tablet-width) {
  .address__address {
    font-size: 16px;
    text-align: right;

    width: 100%;
    max-width: 160px;
  }

  .address__address span {
    display: block;

    margin-top: 17px;
  }
}

@media (min-width: @desktop-width) {
  .address__address {
    position: relative;

    left: 5px;

    text-align: left;
  }
}
