.catalog-main__title {
  .offset(0; 0);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;

  border-top: @border;
}

.catalog-list__list {
  list-style: none;
}

.catalog-list__title {
  display: flex;
  flex-wrap: wrap;

  width: 80px;
}

.catalog-list__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;

  border-top: @border;
}

.catalog-list__button {
  padding: 10px 0;

  width: 280px;

  border: none;
  background-color: @green;

  cursor: pointer;
}

.catalog-list__item--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-list__show-all {
  padding-top: 80px;
  padding-bottom: 10px;
}

.catalog-list__bonus {
  padding-bottom: 20px;
}

.catalog-list__button--all {
  padding: 10px 94px;

  background-color: @lightgrey;
}
