.additional-product .catalog-main__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: @lightblack;
}

.additional-product__list {
  padding: 0 20px;

  list-style: none;
}

.additional-product__item {
  display: flex;
  flex-wrap: wrap;

  padding: 0 0 17px 0;

  border-top: @border;
}

.additional-product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;

  width: 280px;
}

.additional-product__table {
  font-family: @font--arial;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  color: @grey;

  padding: 0 0 10px 0;
}

.additional-product__value {
  text-align: left;
}

.additional-product__field {
  text-align: right;
}

.additional-product__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  padding: 10px 0;

  width: 280px;

  background-color: @green;
}
