.form__fieldset {
  margin: 0 0 30px 0;
  padding: 30px 0 0 0;

  border: none;
}

.form-main__form input[type="text"],
.form__fieldset input[type="number"],
.form__fieldset input[type="email"],
.form__fieldset input[type="tel"] {
  padding: 10px 16px;
  margin: 0 0 14px 0;

  border: @border;
}

.form__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @lightblack;
}

.form__legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: @lightblack;

  margin: 0 0 20px 0;
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__fieldset--id .form__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form__label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.form__id::-webkit-input-placeholder {
  font-family: @font--oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @grey;
}

.form__communication::-webkit-input-placeholder {
  font-family: @font--oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @grey;
}

.form__comment::-webkit-input-placeholder {
  font-family: @font--oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: @grey;
}

.form__button {
  font-family: @font--oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  padding: 10px 0;

  width: 280px;

  border: none;
  background-color: @green;

  cursor: pointer;
}

.form__text {
  font-family: @font--arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  color: @grey;
}
.form__fieldset--radio {
  border-top: @border;
  border-bottom: @border;
}

.form__fieldset--radio .form__item {
  margin: 0 0 20px 0;
}

.form__fieldset--other .form__item {
  margin: 0 0 20px 0;
}
