.main-nav__toggle {
  margin: 0;
  padding: 0;

  .size(25px; 19px);

  background-image: url("../img/icon-mobile-menu.svg");
  background-color: @white;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.main-nav__wrapper {
  display: block;
}

.main-nav__list {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  padding: 0;

  list-style: none;
}
