.page-main__container {
  margin-bottom: 197px;

  .size(320px; 305px);

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @green;
}

.page-main__title {
  .offset(0; 0);
  padding-top: 30px;
}

.page-main__addition {
  position: relative;

  .offset(0; 0);
  margin-top: 22px;
}

.page-main__addition::after {
  position: absolute;

  content: "";

  .coordinate(40px; 20px);

  .size(280px; 271px);

  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
}

.page-main__button {
  margin-top: 302px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px 73px;

  border: none;
  background-color: @green;

  cursor: pointer;
}
