.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 11px 20px 15px 20px;

  background-color: @white;
}

.page-header__logo {
  cursor: pointer;
}

.main-nav__toggle {
  .offset(0; 0);
  border: none;

  .size(25px; 19px);

  background-image: url("../img/icon-mobile-menu.svg");
  background-color: @white;
  background-repeat: no-repeat;

  cursor: pointer;
}

.main-nav__wrapper {
  display: block;
}

.main-nav__list {
  .offset(0; 0);

  list-style: none;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: auto;
  padding-right: auto;

  border-top: @border;

  a {
    color: @black;
  }
}
