.page-footer {
  background-color: @lightgrey;
}

.page-footer__container {
  display: flex;

  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: @white;
}

.address__address {
  margin-left: 20px;
}

.social,
.copyright {
  display: flex;
  flex-wrap: wrap;

  padding-left: 20px;
  padding-right: 20px;
}

.social__logo {
  padding-top: 30px;
  padding-bottom: 30px;

  width: 100%;

  border-bottom: @border;
}

.social__list {
  display: flex;
  justify-content: center;

  width: 280px;

  border-bottom: @border;
  list-style: none;
}

.social__item {
  padding-top: 25px;
  padding-bottom: 20px;

  a {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.social__item:nth-child(1) a {
  margin-left: -10px;
}

.copyright {
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
}
