.catalog-main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: @lightblack;

  margin: 0;
  padding: 15px 20px 11px 0;
}

.catalog-main__title--aditional-product {
  margin: 0 0 22px 0;
}

@media (min-width: @tablet-width) {
  .catalog-main__title {
    font-size: 60px;

    padding: 0 0 165px 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__title {
    width: 100%;
  }
}
