.catalog-list__list {
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .catalog-list__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__list {
    margin: 0 -40px;
  }
}

.catalog-list__container {
  width: 50%;
}

@media (min-width: @tablet-width) {
  .catalog-list__container {
    width: 100%;
    min-width: 244px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__container {
    min-width: 169px;
  }
}

.catalog-list__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: @lightblack;

  display: flex;
  flex-wrap: wrap;

  margin-right: 40px;
}

@media (min-width: @tablet-width) {
  .catalog-list__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    margin: 0 auto 20px auto;
    padding: 0;

    width: 100%;
    max-width: 130px;
  }
}

.catalog-list__table {
  font-family: @font--arial;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  text-align: left;
  color: @grey;

  border-collapse: collapse;

  width: 100%;
}

@media (min-width: @tablet-width) {
  .catalog-list__table {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog-list__table tr {
    border-bottom: @border;
  }

  .catalog-list__table td {
    padding: 8px 0;
  }
}

.catalog-list__field {
  text-align: right;
}

.catalog-list__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding: 0 0 25px;

  border-top: @border;
}

@media (min-width: @tablet-width) {
  .catalog-list__item {
    flex-direction: column;

    margin: 0 30px 140px 30px;
    padding: 40px;

    background-color: @lightgrey;
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__item {
    margin: 0 40px 140px 40px;
    padding: 38px;
  }

  .catalog-list__item--all {
    margin: 0 38px 140px 38px;
  }
}

.catalog-list__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  padding: 10px 15px;

  width: 100%;

  border: none;
  background-color: @green;

  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .catalog-list__button {
    width: auto;
  }
}

.catalog-list__item--all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .catalog-list__item--all {
    background-color: @white;
    border: @border;
  }
}

.catalog-list__item--all .catalog-list__container {
  padding-top: 80px;

  width: 100%;
  min-width: 169px;
}

.catalog-list__show-all {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @lightblack;

  margin: 0 0 10px 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .catalog-list__show-all {
    font-size: 20px;
    line-height: 20px;

    margin: 0 auto 20px auto;
    padding: 0;

    width: 100%;
    max-width: 242px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__show-all {
    max-width: 144px;
  }
}

.catalog-list__bonus {
  font-family: @font--arial;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  color: @grey;

  margin: 0 0 20px 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .catalog-list__bonus {
    font-size: 16px;
    line-height: 16px;

    margin: 0 auto 20px auto;
    padding: 0;

    width: 100%;
    max-width: 170px;
  }
}

.catalog-list__button--all {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @grey;

  padding: 10px 15px;

  background-color: @lightgrey;
}

@media (min-width: @desktop-width) {
  .catalog-list__button--all {
    padding: 10px 20px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-list__item__image {
    margin: 0 auto;
  }
}
