.additional-product .catalog-main__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: @lightblack;
}

@media (min-width: @tablet-width) {
  .additional-product .catalog-main__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-product__list {
  padding: 0;

  list-style: none;
}

@media (min-width: @desktop-width) {
  .additional-product__list {
    align-self: flex-end;

    width: 100%;
  }
}

.additional-product__item {
  display: flex;
  flex-wrap: wrap;

  padding: 0 0 17px 0;

  border-top: @border;
}

@media (min-width: @tablet-width) {
  .additional-product__item {
    align-items: baseline;
    justify-content: space-between;

    padding: 25px 35px;

    border: @border;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__item {
    align-items: center;
    flex-wrap: nowrap;

    padding: 15px 0;
  }
}

.additional-product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;

  width: 100%;
}

@media (min-width: @tablet-width) {
  .additional-product__title {
    font-size: 20px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    width: 50%;
  }
}

.additional-product__table {
  font-family: @font--arial;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  color: @grey;

  padding: 0 0 10px 0;
}

@media (min-width: @tablet-width) {
  .additional-product__table {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__table {
    padding: 0 40px;

    width: 50%;
  }
}

.additional-product__value {
  text-align: left;
}

.additional-product__field {
  text-align: right;
}

.additional-product__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  padding: 10px 0;

  width: 100%;

  background-color: @green;
}


@media (min-width: @desktop-width) {
  .additional-product__button {
    width: 50%;
  }
}
