// @media (min-width: @desktop-width) {
//   .catalog-main__additional-product {
//     display: flex;
//
//     margin: 0 auto;
//
//     width: 1300px;
//   }
// }

// @media (min-width: @desktop-width) {
//   .catalog-main__additional-product .layout-container:nth-child(1) {
//     max-width: 75%;
//
//     display: flex;
//     flex-wrap: wrap;
//     align-self: flex-end;
//
//     border-right: none;
//   }
//
//   .catalog-main__additional-product .layout-container:nth-child(2) {
//     max-width: 25%;
//
//     align-self: flex-end;
//
//     border-left: none;
//   }
// }

.catalog-main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: @lightblack;

  margin: 0;
  padding: 25px 20px 25px 0;
}

@media (min-width: @tablet-width) {
  .catalog-main__title {
    font-size: 60px;

    padding: 0 0 110px 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__title {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__bonus-plus {
    margin: 0;
  }
}
