.copyright__htmlacademy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .copyright__htmlacademy {
    padding: 17px 0 14px 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright__htmlacademy {
    padding: 19px 0 13px 0;
  }
}

.copyright__htmlacademy--name {
  font-family: @font--arial;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  text-align: left;
  color: @grey;
}

.copyright__htmlacademy--icon {
  margin: 0 -5px 0 15px;

  fill: @darkgrey;
}

.copyright__htmlacademy:hover .copyright__htmlacademy--icon,
.copyright__htmlacademy:focus .copyright__htmlacademy--icon {
  fill: @green;

  transition: 0.3s;
}

.copyright__htmlacademy:active {
  opacity: 0.3;
}
