.page-footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .page-footer .layout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__container {
  display: flex;

  padding: 25px 0;

  background-color: @white;
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  padding: 39px 0 30px 0;

  border-bottom: @border;
}
