.page-header {
  margin: 0 auto;
  padding: 0;

  background-color: @white;
}

.page-header__layout-container {
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .page-header__layout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 30px 55px 30px;

    min-width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__layout-container {
    position: relative;

    z-index: 1;

    margin: 0 auto;
    padding: 45px 40px 92px 40px;

    width: 1220px;

    background-color: transparent;
  }

  .page-header__layout-container--catalog,
  .page-header__layout-container--footer {
    padding: 45px 40px 73px 40px;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 11px 0 15px 3px;

  background-color: @white;
}

@media (min-width: @tablet-width) {
  .page-header__container {
    display: block;

    margin: 0;
    padding: 0;
  }
}

// Логотип
.page-header__logo {
  height: 39px;

  text-align: left;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo img {
  width: 191px;
  height: 39px;
}


@media (min-width: @tablet-width) {
  .page-header__logo img {
    width: 174px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo img {
    width: 202px;
  }
}

// Переключатель состояний
.page-header__toggle {
  position: relative;

  top: 2px;
  right: 0;

  display: block;
  .size(25px; 19px);

  background-color: @white;
  border: none;

  cursor: pointer;

  &--opened::before {
    position: absolute;

    top: 0;
    left: 0;

    content: "";

    .size(25px; 2px);

    background-color: @black;
    box-shadow: 0 9px 0 0 @black, 0 17px 0 0 @black;
  }

  &--closed::before,
  &--closed::after {
    position: absolute;

    top: 9px;
    left: 0;

    content: "";

    width: 25px;
    height: 2px;

    background-color: @black;
  }

  &--closed::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--closed::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: @tablet-width) {
  .page-header__toggle {
    display: none;
  }
}
